<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    <div class="container bg-dark">
    <h1 class="text-center text-white">Hair Salon</h1>
    </div>
    @RenderBody()
  </body>
</html>
