@{
  Layout = "_Layout";
}

<h2 class="text-center">Add Stylist</h2>
<div class="container ml-5">
  <div class="row">

    <form class="form-group" action="/stylists/new" method="post">
    <div class="col">
      <label for="stylistName">Name: </label>
      <input class="form-control" type="text" name="stylistName"><br>
    </div>
    <div class="col">
      <label for="stylistSpecialty">Specialty: </label>
      <input class="form-control" type="text" name="stylistSpecialty"><br>
    </div>
    <div class="col">
      <label for="stylistSchedule">Work Schedule: </label>
      <input class="form-control" type="text" name="stylistSchedule"><br>
    </div>
    <div class="col">
    <button type="submit" class="btn btn-lg btn-primary">Add</button>
    </div>
    </form>
  </div>

  <a href='/stylists'><button class="btn btn-dark btn-sm mb-2">Back to Stylists</button></a><br>
<a href='/'><button class="btn btn-dark btn-lg mb-2">Back to Main </button></a>
</div>