@{
  Layout = "_Layout";
}

<h2 class="text-center">Add Stylist</h2>
<div class="container">


    <form action="/stylists/new" method="post">
    <label for="stylistName">Name: </label>
    <input type="text" name="stylistName"><br>
 
    <button type="submit" class="btn btn-lg btn-dark">Add</button>
    </form>
</div>