@{
  Layout = "_Layout";
}
<div class="container">
  <h1 class="mt-5 mb-5">All specialties have been deleted.</h1>

  <a href='/specialties/new'><button class="btn btn-lg btn-primary mb-3">Add a Specialty</button></a><br>
  <a href="/"><button class="btn btn-lg btn-dark">Back to Main</button></a>
  </div>