#header {
	font-size: 5rem;
}
#header2 {
	position: relative;
	min-width: 80vw;
	min-height: 75vh;
	background-color: #ddd;
	z-index: 0;
}
#header2 .box {
	position: absolute;
	content: '';
	width: 55%;
	height: 50%;
	top: 50%;
	left: 20%;
	transform:translate(-30%, 0%);
  z-index: 1;
  border: 10px solid #000;
}
#header2 .caption {
	position: absolute;
	top: 50%;
	left: 15%;
	transform:translate(-10%, 0%);
  color: #000;
  font-weight: 600;
  font-size: 6rem; 
  background-color: #ddd;
  z-index: 2;
  padding: 10px;
}
#header2 img {
	position: absolute;
	top: 20%;
	left: 35%;
	height:80%;
	z-index: 3;
}
#header2 .action {
	position: absolute;
	top: 75%;
	left: 55%;
	transform:translate(-50%,-50%);
  text-align: center;
  z-index: 4;
  padding-right: 25px;
  padding-left: 25px; 
   	
}
.caption, #header{
  font-family: 'Molle', cursive;
}
.special{
	font-weight: bold;
	font-family: 'The Girl Next Door', cursive;
  color: #007bff;
}

footer{
	font-family: 'Molle', cursive;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	justify-content: center;
}
