@{
  Layout = "_Layout";
}

<div class="container">

<header id="header2">
	<div class="box"></div>
  <h3 class="caption">JC<br>Hair</h3>
  <div class="ml-4 mt-5" id="links">
    <a href='/stylists/'><button class="btn btn-lg btn-dark mt-3 mb-2">View All Stylists</button></a><br>
    <a href='/stylists/new'><button class="btn btn-lg btn-dark">Add a Stylist</button></a>
  </div>

  <img src="http://www.pngall.com/wp-content/uploads/2016/05/Ariana-Grande.png" class="" alt="">
</header>




</div>
