@{
  Layout = "_Layout";
}

<div class="container">

<header id="header2">
	<div class="box"></div>
  <h3 class="caption">JC<br>Hair</h3>
  <div class="ml-4 mt-5 pb-5" id="links">
    <a href='/stylists/new'><button class="btn btn-lg btn-primary ml-4 mt-3">Add a Stylist</button></a>
    <a href='/stylists/'><button class="btn btn-lg btn-dark ml-5  mt-3 mr-2">View Stylists</button></a><br>
      <a href='/clients/new'><button class="btn btn-lg btn-primary ml-4  mt-3">Add a Client</button></a>
      <a href='/clients/'><button class="btn btn-lg btn-dark ml-5 mt-3">View Clients</button></a><br>
        <a href='/specialties/new'><button class="btn btn-lg btn-primary ml-4 mt-3">Add a Specialty</button></a>
      <a href='/specialties/'><button class="btn btn-lg btn-dark ml-3 mt-3">View Specialties</button></a><br>  
    
    
  </div>

  <!-- <img src="http://www.pngall.com/wp-content/uploads/2016/05/Ariana-Grande.png" class="" alt=""> -->
  <img src="~/img/home.png">
</header>




</div>
