@{
  Layout = "_Layout";
}
<div class="container">

<h3>Edit Client: @Model["client"].GetName()</h3>

<form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
  <label for="newName">Name:</label>
  <input class="form-control" type="text" name="newName" value="@Model["client"].GetName()">
   <label for="newName">Phone:</label>
  <input class="form-control" type="number" name="newPhone" value="@Model["client"].GetPhone()">
  <button class="btn btn-lg btn-warning text-white mt-2 mb-2" type="submit">Edit</button>
</form>



<a href="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()"><button class="btn btn-dark">Back to previous page</button></a>

</div>