@{
  Layout = "_Layout";
}
<div class="container">
  <h2 class="mb-3">Client Details: </h2>

  <h3>Client Name: <span class="special">@Model["client"].GetName()</span></h3>
  <h4>Phone Number: <span class="special">@Model["client"].GetPhone()</span></h4>
  <h4>Stylist: <span class="special">@Model["stylist"].GetName()</span></h4>

  <a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'><button class="btn btn-sm btn-warning text-white mb-2">Edit Client Info</button></a><br>
  <a href='/stylists/@Model["stylist"].GetId()/clients/new'><button class="btn btn-sm btn-primary text-white mb-2">Add another Client</button></a><br>
  <a href='/stylists'><button class="btn btn-sm btn-dark text-white">Back to All Stylists</button></a>
</div>